@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- 1. Load platform support before any code that touches the DOM. -->
    <script src="lib/webcomponentsjs/webcomponents.min.js"></script>
    <!-- 2. Load the component using an HTML Import -->
    <link rel="import" href="elements/griddit.html">
    <link rel="import" href="elements/ticker.html">
</head>
<body>
    <milk-ticker></milk-ticker>
    <!-- 3. Declare the element by its tag. -->
    <milk-griddit subreddit="gaming" itemcount="5"></milk-griddit>
    <milk-griddit subreddit="EarthPorn" itemcount="5"></milk-griddit>
</body>